@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'ubuntu', sans-serif;
}

.ant-switch,
.ant-switch:hover {
  background-color: hsl(213, 96%, 18%) !important;
}

:where(.css-dev-only-do-not-override-ixblex).ant-switch .ant-switch-handle {
  width: 13px !important;
  height: 13px !important;
  top: 5px !important;
}

:where(.css-dev-only-do-not-override-ixblex).ant-switch .ant-switch-handle {
  inset-inline-start: 4px;
}

input[type='checkbox'] {
  border: solid 1px hsl(229, 24%, 87%);
  background-color: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type='checkbox']:checked {
  position: relative;
  background-color: hsl(243, 100%, 62%);
  border: 1px solid hsl(243, 100%, 62%);
}

input[type='checkbox']:checked::before {
  content: '\2713';
  font-size: 1rem;
  color: white;
  position: absolute;
  top: -3px;
  left: 3px;
}
